<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no" />
  <title>Tic Tac Toe</title>
  <link rel="icon" sizes="16x16" href="<%- STATIC_PATH %>images/favicons/icon-16.png" />
  <link rel="icon" sizes="32x32" href="<%- STATIC_PATH %>images/favicons/icon-32.png" />
  <link rel="icon" sizes="100x100" href="<%- STATIC_PATH %>images/favicons/icon-100.png" />
  <link rel="icon" sizes="200x200" href="<%- STATIC_PATH %>images/favicons/icon-200.png" />
  <link rel="icon" sizes="800x800" href="<%- STATIC_PATH %>images/favicons/icon-800.png" />
  <link rel="stylesheet" href="<%- STATIC_PATH %>css/main.css" />
</head>
<body>
  <div id="app" style="height:100%">
      <%- html %>
  </div>
  <script>
    window.__INITIAL_STATE__ = <%- script %>
  </script>
  <script src="<%- STATIC_PATH %>js/index.js"></script>
</body>
</html>
